body{
margin:0;
font-family:Arial;
background:#090b16;
color:white;
}

.center{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:100vh;
}

.logo{
width:300px;
border-radius:20px;
box-shadow:0 0 30px #7b2fff;
}

.card{
margin-top:20px;
background:#13172a;
padding:25px;
border-radius:15px;
width:350px;
}

input,textarea{
width:100%;
padding:10px;
margin-top:10px;
background:#1f2340;
border:none;
color:white;
border-radius:10px;
}

button{
margin-top:10px;
padding:10px;
border:none;
background:#7b2fff;
color:white;
cursor:pointer;
border-radius:10px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#13172a;
}

.settingBtn{
width:50px;
}

.menu{
display:none;
position:absolute;
top:60px;
right:10px;
background:#13172a;
padding:10px;
border-radius:10px;
}

.service{
background:#13172a;
margin:15px;
padding:15px;
border-radius:15px;
}

.link{
cursor:pointer;
color:#9f73ff;
}

.adminPanel{
padding:20px;
}